[user]
	name = andrewblond
	email = andrewblond@yandex.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
